[submodule "JWki.github.io"]
	path = JWki.github.io
	url = git@github.com:JWki/JWki.github.io.git
[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
